{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team : Viking !</h1>

    <div class="row">
        <div class="col-md-6">

            <table>
                <tbody>

                {% for gladiator in vikings %}
                    <tr>
                        <td><a href="{{ path('vikings_index') }}">{{ gladiator.name }}</td>
                    </tr>
                    <tr>
                        <td>{% if gladiator.captain %}C'est moi le boss{% else %}Je suis soumis{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Role : {{ gladiator.job }}</td>
                    </tr>
                    <tr>
                        <td>Arme : {{ gladiator.weapon }}</td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('https://78.media.tumblr.com/28f9f6ff994d36be1b7a95b893c52555/tumblr_p1dsvgrT8t1wzvt9qo1_500.gif') }}" alt="chèvre" />
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('gladiator_index') }}">Engagez-vous....qu'ils disaient!</a>
        </li>

    </ul>

{% endblock %}