{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1 class="country-title">Countries list</h1>
    <div class="container">
        <div class="row">
            {% for country in countries %}
                <div class="col-md-3 img-thumbnail country-display">
                    <div class="background">
                        <div><a href="{{ path('gaulois_index') }}">{{ country.name }}</div>
                        <img class="flags" src="{{ country.flag }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="redirection-countrie">
        <a href="{{ path('country_index') }}">Vous souhaitez vous faire défoncer, inscrivez votre pays!</a>
    </div>
{% endblock %}